{% load static %}

<div class="table-responsive-sm table-hover d-none d-lg-block">

  <table class="table">
  <thead>
  <tr >
      {% for header in headers %}
          <th>{{header}}</th>
      {% endfor %}
  </tr>
  </thead>

  {% for item in data %}
    <tr>
    {% if item.Quantity < 3 %}
      {% if item.Quantity == 0 %}
          <td>{{ item.description }}&nbsp;&nbsp;<span class="badge badge-danger">Warning</span></td>
      {% else %}
          <td>{{ item.description }}&nbsp;&nbsp;<span class="badge badge-warning">Warning</span></td>
      {% endif %}     
    {% else %}
      <td>{{ item.description }}</td>    
    {% endif %}
        
        <td>{{ item.color }}</td>
        <td>{{ item.toners_type }}</td>
        <td>    
            {% if item.color == 'BK' %}
                <span class="badge badge-dark">{{ item.Quantity }}</span>                    
            {% endif %}
             {% if item.color == 'MG' %}
                <span class="badge badge-danger">{{ item.Quantity }}</span>                    
            {% endif %}
             {% if item.color == 'CN' %}
                <span class="badge badge-info">{{ item.Quantity }}</span>                    
            {% endif %}
             {% if item.color == 'YW' %}
                <span class="badge badge-warning">{{ item.Quantity }}</span>                    
            {% endif %}
        </td>
        <td><a  class="btn btn-light btn-sm shadow-none" href={% url 'update_toner' item.id %}   ><i class="fa fa-pencil" aria-hidden="true"></i> </a></td>
        <td><a class="btn btn-danger btn-sm shadow-none" href="{% url  'delete_toner' item.id %}"><i class="fa fa-trash"></i></a></td>
    </tr>
  {% endfor %}
  </table>
  {% include 'TonersManagement/components/pagination.html' %}
 
</div>


