
 {% extends 'TonersManagement/components/base.html ' %}

{% block content %}
<div class="container mt-5 w-50">
<div class="card">
  <div class="card-body">
  <h5 class="card-title">{{ title }}</h5>
    <br>
    <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                      <label for="{{field.id_for_label}}">{{field.label}}</label>
                      {{field}}
                </div>
            {% endfor %}

            <input class="btn btn-primary shadow-none float-right" type="submit" name="Submit">         
            <a class="btn btn-light shadow-none float-right mr-2" href="{% url  redirect_url  %}">Cancel</a>           
            
        </form>  
  </div>
</div>
</div>

 

    
 
{% endblock content %}
